# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/.coverage

# production
/build

# environments
.venv/
.env.local
.env.development.local
.env.test.local
.env.production.local
env.py

# misc
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# SQLite database
db.sqlite3

# Django migrations can be committed EXCEPT pyc files
*.pyc
taskpilot_api/__pycache__/settings.cpython-312.pyc
